
<div class="page-content p-5" id="content" >
    <div class="container shadow-sm p-3 mb-5 bg-white rounded basic-font" style="margin-top:-30px; font-family: 'Acme', sans-serif; font-size: 25pt;">
        Search Into The Database
        <hr>
        <br>
        <div class="input-group mb-2 mr-sm-2 ">
            <input type="text" class="form-control  headbox" id="inlineFormInputGroupUsername2" placeholder="Enter Keyword">
            <button type="button" class="btn " (click) = "acivateLoader()"><img src="https://img.icons8.com/cotton/30/000000/search.png"></button>
        </div>
        <div>
            <div>
                <img src="assets/bamboo/img1.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img2.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img3.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img4.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img5.JPG" alt="image" class="img-thumbnail">
            </div>
            <div>
                <img src="assets/bamboo/img5.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img7.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img8.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img9.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img4.JPG" alt="image" class="img-thumbnail">
            </div>
            <div>
                <img src="assets/bamboo/img10.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img11.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img12.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img13.JPG" alt="image" class="img-thumbnail">
                <img src="assets/bamboo/img14.JPG" alt="image" class="img-thumbnail">
            </div>
            
        </div>
        
    </div>

</div>
  