/* You can add global styles to this file, and also import other style files */
.vertical-nav {
    min-width: 15.5rem;
    width: 15.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Cute Font', cursive;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background:linear-gradient(
        to right bottom,
     #7ed56fc7,
     rgba(0, 168, 106, 0.596)),
      url("assets/beatiful-landscape-colors-countryside-2832041.jpg") no-repeat bottom center ;
  }
  
  .page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
 

  
  body {
    background: white;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 30px;
    font-family: 'Cute Font', cursive;
  }
  
  .separator {
    margin: 3rem 0;
    border-bottom: 1px dashed #fff;
  }
  
  .text-uppercase {
    letter-spacing: 0.1em;
  }
  
  .text-gray {
    color: #aaa;
  }


  .active-nav{
    background: #ffffff;
    
  }
  .CapitalSmall
  {
    text-transform: initial;
  }


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .uplbtn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
